[submodule "android-execute-native-application"]
	path = android-execute-native-application
	url = git@github.com:lopesivan/android-execute-native-application.git
[submodule "android-cansi-app-01"]
	path = android-cansi-app-01
	url = git@github.com:lopesivan/android-cansi-app-01.git
